@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

body {
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffCC;
    font-family:'DNFBitBitv2';
}

.container {
border: 10px solid white;
border-radius: 20px;
text-align: center;
background-color: rgba(247, 243, 242, 0.7);
height: 2000px;
width: 500px;
}

#play-button{
    background-color: #00FA9A;
    border: solid #FFD700;
    border-radius: 20px;
    color: white;
    font-weight:bolder;
    font-size: large;
    width: 60px;
    height: 30px;
}
#play-button:hover{
    background-color:#FFD700;
    border: solid #00FA9A;
    border-radius: 20px;
}

#reset-button{
    background-color:#FFD700;
    border: solid #00FA9A;
    border-radius: 20px;
    color: white;
    font-weight:bolder;
    font-size: large;
    width: 60px;
    height: 30px;
}

#reset-button:hover{
    background-color: #00FA9A;
    border: solid #FFD700;
    border-radius: 20px;
}



#user-input {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
    border: none;
}